<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="/adminAssets/img/favicon.png">
    <title>MyContract | User Dashboard</title>
    <!-- ================== GOOGLE FONTS ==================-->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
    <!-- ======================= GLOBAL VENDOR STYLES ========================-->
    <link rel="stylesheet" href="/adminAssets/css/vendor/bootstrap.css">
    <!-- ======================= ICONS FONTS STYLES ===========================-->
    <link rel="stylesheet" href="/adminAssets/css/icons/line-awesome.min.css">
    <link rel="stylesheet" href="/adminAssets/css/icons/dripicons.min.css">
    <link rel="stylesheet" href="/adminAssets/css/icons/cryptofont.min.css">
    <!-- ======================= PAGE VENDOR STYLES ===========================-->
    <link rel="stylesheet" href="/adminAssets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <!-- ======================= GLOBAL COMMON STYLES ============================-->
    <link rel="stylesheet" href="/adminAssets/css/common/main.bundle.css">
    <!-- ======================= LAYOUT STYLES ===========================-->
    <link rel="stylesheet" href="/adminAssets/css/layouts/horizontal/core/main.css">
    <!-- ======================= MENU TYPE ===========================-->
    <link rel="stylesheet" href="/adminAssets/css/layouts/horizontal/menu-type/auto-hide.css">
    <!-- ======================= THEME COLOR STYLES ===========================-->
    <link rel="stylesheet" href="/adminAssets/css/layouts/horizontal/themes/theme-j.css">
    <!-- ================== GLOBAL VENDOR SCRIPTS ==================-->
    <script src="/adminAssets/vendor/modernizr/modernizr.custom.js"></script>
    <script src="/adminAssets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/adminAssets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/vendor/js-storage/js.storage.js"></script>
    <script src="/adminAssets/vendor/metismenu/dist/metisMenu.js"></script>
    <script src="/adminAssets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>



    <!-- ================== GLOBAL APP SCRIPTS ==================-->
    <script src="/adminAssets/js/global/app.js"></script>

    <!-- ================== PAGE LEVEL COMPONENT SCRIPTS ==================-->
    <script src="/adminAssets/js/components/datatables-init.js"></script>
</head>


<body class="layout-horizontal menu-auto-hide">
    <!-- START APP WRAPPER -->
    <div id="app">
        <!-- START TOP HEADER WRAPPER -->
        <div class="header-wrapper">
            <div class="header-top">
                <!-- START MOBILE MENU TRIGGER -->
                <ul class="mobile-only navbar-nav nav-left">
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-toggle-state="aside-left-open">
                            <i class="icon dripicons-align-justify"></i>
                        </a>
                    </li>
                </ul>
                <!-- END MOBILE MENU TRIGGER -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <ul class="site-logo">
                                <li>
                                    <!-- START LOGO -->
                                    <a href="/icoDashboard/icoDashboardSetup/project/<%=projectName %>">
                                        <div class="logo"><img src="/adminAssets/img/logo.png" width="211" height="42"></div>
                                    </a>
                                    <!-- END LOGO -->
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <!-- START TOP TOOLBAR WRAPPER -->
                            <div class="top-toolbar-wrapper">
                                <nav class="top-toolbar navbar flex-nowrap">
                                    <ul class="navbar-nav nav-right">
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" data-toggle-state="aside-right-open">
                                                <i class="icon dripicons-view-apps"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- END TOP TOOLBAR WRAPPER -->
                        </div>
                    </div>
                </div>
                <!-- START MOBILE TOOLBAR TRIGGER -->
                <ul class="mobile-only navbar-nav nav-right">
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-toggle-state="aside-right-open">
                            <i class="icon dripicons-view-apps"></i>
                        </a>
                    </li>
                </ul>
                <!-- END MOBILE TOOLBAR TRIGGER -->
            </div>

            <!-- START HEADER BOTTOM -->
            <div class="header-bottom">
                <div class="container">
                    <!-- START MAIN MENU -->
                    <nav class="main-menu">
                        <ul class="nav metismenu">
                            <li class="sidebar-header mobile-only"><span>NAVIGATION</span></li>
                            <li><a class="active" href="/icoDashboard/icoDashboardSetup/project/<%= projectName %>"><i class="icon dripicons-meter"></i><span
                                        class="hide-menu">Dashboard</span></a></li>
                            <li><a href="/icoDashboard/siteConfiguration/project/<%= projectName %>"><i class="icon dripicons-gear"></i><span
                                        class="hide-menu">Site Configuration</span></a></li>
                            <li>
                                <a class="has-arrow" href="#" aria-expanded="false"><i class="icon dripicons-user-group"></i><span
                                        class="hide-menu">Manage Users</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="#">User List</a></li>
                                    <li><a href="#">User Balance</a></li>
                                    <li><a href="/icoDashboard/icoDashboardSetup/project/<%= projectName %>/kyctab">KYC Verification</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow" href="transactions.html" aria-expanded="false"><i class="la la-exchange font-weight-600"></i><span
                                        class="hide-menu">Transactions</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/icoDashboard/transaction/project/<%= projectName %>">ICO Transactions</a></li>
                                </ul>
                            </li>
                            <!-- <li><a href="#"><i class="icon dripicons-user"></i><span class="hide-menu">User Activity</span></a></li> -->
                            <!-- <li><a href="#"><i class="icon dripicons-mail"></i><span class="hide-menu">Email Template</span></a></li> -->
                            <li><a href="/dashboard"><i class="icon dripicons-meter"></i><span class="hide-menu">Admin Dashboard</span></a></li>
                        </ul>
                    </nav>
                    <!-- END MAIN MENU -->
                </div>
            </div>
            <!-- END HEADER BOTTOM -->
        </div>
        <!-- SIDEBAR QUICK PANNEL WRAPPER -->
        <aside class="sidebar sidebar-right">
            <div class="sidebar-content">
                <form action="/icoDashboard/project/<%= projectName %>/updateColor" method="POST" enctype="multipart/form-data" > 
                    <div class="tab-panel m-b-30" id="sidebar-tabs">
                        <ul class="nav nav-tabs primary-tabs">
                            <li class="nav-item" role="presentation">Colour Settings</li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fadeIn active" id="sidebar-settings">
                                <!-- START THEME OPTIONS WRAPPER -->
                                <section class="sidebar-settings-wrapper">
                                    <h5 class="m-t-30 m-b-20">Colors with dark menu</h5>
                                    <div class="row m-0">
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <!-- THEME OPTION "A" theme-a.css -->
                                            <div class="color-option-check">
                                                <h6 class="title text-center">theme-a.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-a.css">
                                                    <input type="radio" name="setting-theme" value="theme-a.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-a "></span>
                                                        <span class="color bg-menu-dark"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <!-- THEME OPTION "B" theme-b.css -->
                                            <div class="color-option-check">
                                                <h6 class="title text-center">theme-b.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-b.css">
                                                    <input type="radio" name="setting-theme" value="theme-b.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-b"></span>
                                                        <span class="color bg-menu-dark"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <!-- THEME OPTION "C" theme-c.css -->
                                            <div class="color-option-check">
                                                <h6 class="title text-center">theme-c.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-c.css">
                                                    <input type="radio" name="setting-theme" value="theme-c.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-c"></span>
                                                        <span class="color bg-menu-dark"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "D" theme-d.css -->
                                                <h6 class="title text-center">theme-d.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-d.css">
                                                    <input type="radio" name="setting-theme" value="theme-d.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-d"></span>
                                                        <span class="color bg-menu-dark"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "E" theme-e.css -->
                                                <h6 class="title text-center">theme-e.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-e.css">
                                                    <input type="radio" name="setting-theme" value="theme-e.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-e"></span>
                                                        <span class="color bg-menu-dark"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "F" theme-f.css -->
                                                <h6 class="title text-center">theme-f.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-f.css">
                                                    <input type="radio" name="setting-theme" value="theme-f.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-f"></span>
                                                        <span class="color bg-menu-dark"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "G" theme-g.css -->
                                                <h6 class="title text-center">theme-g.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-g.css">
                                                    <input type="radio" name="setting-theme" value="theme-g.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-g"></span>
                                                        <span class="color bg-menu-dark"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "H" theme-h.css -->
                                                <h6 class="title text-center">theme-h.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-h.css">
                                                    <input type="radio" name="setting-theme" value="theme-h.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-h"></span>
                                                        <span class="color bg-menu-dark"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="m-t-30 m-b-20">Colors with light menu</h5>
                                    <div class="row m-0">
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "I" theme-i.css -->
                                                <h6 class="title text-center">theme-i.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-i.css">
                                                    <input type="radio" name="setting-theme" value="theme-i.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-menu-dark"></span>
                                                        <span class="color bg-menu-light"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "J" theme-j.css -->
                                                <h6 class="title text-center">theme-j.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-j.css">
                                                    <input type="radio" name="setting-theme" value="theme-j.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-j"></span>
                                                        <span class="color bg-menu-light"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "K" theme-k.css -->
                                                <h6 class="title text-center">theme-k.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-k.css">
                                                    <input type="radio" name="setting-theme" value="theme-k.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-k"></span>
                                                        <span class="color bg-menu-light"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "L" theme-l.css -->
                                                <h6 class="title text-center">theme-l.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-l.css">
                                                    <input type="radio" name="setting-theme" value="theme-l.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-l"></span>
                                                        <span class="color bg-menu-light"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "M" theme-m.css -->
                                                <h6 class="title text-center">theme-m.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-m.css">
                                                    <input type="radio" name="setting-theme" value="theme-m.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-m"></span>
                                                        <span class="color bg-menu-light"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "N" theme-n.css -->
                                                <h6 class="title text-center">theme-n.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-n.css">
                                                    <input type="radio" name="setting-theme" value="theme-n.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-n"></span>
                                                        <span class="color bg-menu-light"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "O" theme-o.css -->
                                                <h6 class="title text-center">theme-o.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-o.css">
                                                    <input type="radio" name="setting-theme" value="theme-o.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-o"></span>
                                                        <span class="color bg-menu-light"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 p-5 m-b-10">
                                            <div class="color-option-check">
                                                <!-- THEME OPTION "P" theme-p.css -->
                                                <h6 class="title text-center">theme-p.css</h6>
                                                <label data-load-css="assets/css/layouts/horizontal/themes/theme-p.css">
                                                    <input type="radio" name="setting-theme" value="theme-p.css">
                                                    <span class="icon-check"></span>
                                                    <span class="split">
                                                        <span class="color bg-theme-p"></span>
                                                        <span class="color bg-menu-light"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- END THEME OPTIONS WRAPPER -->
                            </div>
                        </div>
                        <!-- <div class="form-group col-md-6 "> -->
                                <button type="submit" class="btn btn-primary btn-rounded">Transfer
                                    tokens
                                </button>
                            <!-- </div> -->
                    </div>
                </form>
            </div>
        </aside>
        <!-- END SIDEBAR QUICK PANNEL WRAPPER -->