
<% include layouts/adminSidebar %>
  <!-- ================== PAGE LEVEL VENDOR SCRIPTS ==================-->
    <div class="content-wrapper">
        <div class="content container">
            <!--START PAGE HEADER -->
            <header class="page-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h1>KYC DETAILS</h1>
                    </div>
                </div>
            </header>
            <!--END PAGE HEADER -->

            <!--START PAGE CONTENT -->
            <section class="page-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">User KYC Data
                            </div>
                            <form>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="userId">User Id</label>
                                            <input type="text" class="form-control" id="userId" value="<%= KYCdata.uniqueId %>" readonly="readonly">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" value="<%= KYCdata.email %>" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="firstName" value="<%= KYCdata.firstName %>" readonly="readonly">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="lastName" value="<%= KYCdata.lastName %>" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="contactNumber">Contact Number</label>
                                            <input type="text" class="form-control" id="contactNumber" value="<%= KYCdata.isd_code %> - <%= KYCdata.mobile %>" readonly="readonly">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="country">Country</label>
                                            <input type="text" class="form-control" id="country" value="<%= KYCdata.country %>" readonly="readonly">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-lg-4">
                                            <div class="text-center p-20">
                                                <img class="card-img-top" src="<%= KYCdata.kycDoc1 %>" alt="Smiley face"></a>
                                                <div class="card-body p-10">
                                                    <h5 class="card-title m-b-0">Document 1</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <div class="text-center p-20">
                                                <img class="card-img-top" src="<%= KYCdata.kycDoc2 %>" alt="Smiley face">
                                                <div class="card-body p-10">
                                                    <h5 class="card-title m-b-0">Document 2</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <div class="text-center p-20">
                                                <img class="card-img-top" src="<%= KYCdata.kycDoc3 %>" alt="Smiley face">
                                                <div class="card-body p-10">
                                                    <h5 class="card-title m-b-0">Document 3</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                            <form action="/icoDashboard/icoDashboardSetup/project/<%= KYCdata.projectConfigurationCoinName %>/kyctab/<%= KYCdata.uniqueId %>/updateUserData"
                                method="post" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="kycStatus">KYC Status</label>
                                        <select id="kycStatus" name="kyc_verified" class="form-control" value="<%= KYCdata.kyc_verified %>">
                                            <option value="active">Approve</option>
                                            <option value="rejected">Decline</option>
                                            <option value="pending">Pending</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="userStatus">Account Status</label>
                                        <select id="userStatus" name="status" class="form-control" value="<%= KYCdata.status %>">
                                            <option value="true">Active</option>
                                            <option value="false">Disabled  </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="card-footer bg-light text-center">
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary btn-rounded">Update Status</button>
                                                <button class="btn btn-light btn-rounded btn-outline">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--END PAGE CONTENT -->
        </div>
    </div>
    <!-- END CONTENT WRAPPER -->
    </div>
    <!-- END APP WRAPPER -->


    <!-- FOOTER -->
    <footer class="footer text-center">Copyright © 2020 MyContract. All rights reserved.</footer>
    <!-- END FOOTER -->
    </body>

    </html>