<body>
  <% layout('./layouts/sidebar') -%>

    <!-- Preloader -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- Page wrapper  -->
    <div class="page-wrapper">

      <!-- Container fluid  -->
      <div class="container-fluid">
        <div class="card" style="min-height:100px;">
          <div class="card-body">

            <h4 class="text-center card-title-text">Create your smart contract without coding</h4>
            <hr size="5">
            <div class="row">
              <div class="col-sm-6 text-center">
                <div class="well">
                  <br>
                  <span class="token-text" >CrowdSale Token Creation (ERC20)</span><br><br>
                  <a href="/customContract" class="btn btn-md contract-btn btn-info"><strong>Create Token</strong></a>
                  <br>
                </div>
              </div>
              <div class="col-sm-6 text-center">
                <div class="well">
                  <br>
                  <span class="token-text" >CrowdSale Token Creation With Additional Security (ERC223)</span><br><br>
                  <a href="/ERC223Contract" class="btn btn-md contract-btn btn-info"><strong>Create Token</strong></a>
                  <br>
                </div>
              </div>

              <div class="col-sm-6 text-center">
                <div class="well">
                  <br>
                  <span class="token-text" >Stablecoin</span><br><br>
                  <a href="/stablecoin" class="btn btn-md contract-btn btn-info"><strong>Create Token</strong></a>
                  <br>
                </div>
              </div>

            </div>
          </div>
        </div>
        <% if (contractMessage.length > 0) { %>
          <div class="card" style="min-height:50px;">
            <div class="card-body  text-center">
              <h4 class="card-title text-center">Notifications</h4>
              <hr size="5">
              <div class="alert alert-success">
                <strong>Success!</strong> Contract Mined Succefully!
              </div>
            </div>
          </div>
          <br>
          <% } %>
          <!-- <% if (message.length > 0) { %>
            <div class="card" style="min-height:50px;">
                <div class="card-body text-center">
                  <h4 class="card-title text-center">Notifications</h4>
                  <hr size="5">
                  <div class="alert alert-danger">
                    <strong>Opps!</strong> <%= message %>
                  </div>
                  <a href="/buyPackage" class=" btn btn-md btn-rounded btn-info">Buy your package here</a>
                </div>
              </div>
              <br>
            <% } %> -->
            <div class="card" style="min-height:500px;">
              <div class="card-body">


                <h4 class="deploy-text text-center">Deployed Contract Details</h4>
                <!-- <hr size="5"> -->
                <div class="row mt-5 margin-top-2">
                  <div class="col-md-12">
                    <% if(ProjectConfiguration.length >0 ) {%>
                      <div class="table-responsive">
                        <table class="table">
                          <thead class="bg-info-table">
                            <tr>
                              <th class="th-text">Network Type</th>
                              <th class="th-text">Coin Name</th>
                              <th class="th-text">Token Contract Address</th>
                              <th class="th-text">Token Contract Tx Hash</th>
                              <th class="th-text">Crowdsale Contract Address</th>
                              <th class="th-text">CrowdSale Contract Tx Hash</th>
                              <th class="th-text">Project Owner Key</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% ProjectConfiguration.forEach(function(ProjectConfiguration){ %>
                              <tr>
                                <td>
                                  <%= ProjectConfiguration.networkType %>
                                </td>
                                <td>
                                  <%= ProjectConfiguration.coinName %>
                                </td>
                                <% if(ProjectConfiguration.tokenContractAddress) {%>
                                  <td>
                                    <% if ( ProjectConfiguration.crowdsaleContractAddress && ProjectConfiguration.crowdsaleContractAddress.startsWith("0x")) {%>

                                    <% if(ProjectConfiguration.networkType == "mainnet" || ProjectConfiguration.networkType == "apothem") { %>
                                      <%= 'xdc'+ProjectConfiguration.tokenContractAddress.slice(2) %>
                                    <% } else {%>
                                      <%= ProjectConfiguration.tokenContractAddress %>
                                    <% } %>
                                    <% } else {%>
                                      <%= ProjectConfiguration.crowdsaleContractAddress %>
                                    <% } %>  
                                  </td>
                                  <% if(ProjectConfiguration.networkType == "mainnet") { %>
                                    <td><a href="https://explorer.xinfin.network/tx/<%= ProjectConfiguration.tokenContractHash %>"
                                      target="_blank">Click here</a></td>  
                                 <% }else if(ProjectConfiguration.networkType == "apothem") { %>
                                  <td><a href="https://explorer.apothem.network/tx/<%= ProjectConfiguration.tokenContractHash %>"
                                    target="_blank">Click here</a></td>  
                                  <%} else { %>
                                  <td><a href="https://ropsten.etherscan.io/tx/<%= ProjectConfiguration.tokenContractHash %>"
                                    target="_blank">Click here</a></td> 
                                    <% } %>         
                                  <% } else { %>
                                    <td colspan="2"> Not deployed yet</td>
                                      <% } %>
                                        <% if(ProjectConfiguration.crowdsaleContractAddress) {%>
                                          <td>
                                            <% if ( ProjectConfiguration.crowdsaleContractAddress && ProjectConfiguration.crowdsaleContractAddress.startsWith("0x")) {%>
                                              <% if(ProjectConfiguration.networkType == "mainnet" || ProjectConfiguration.networkType == "apothem") { %>
                                                <%= 'xdc'+ProjectConfiguration.crowdsaleContractAddress.slice(2) %>
                                              <% } else {%>
                                                <%= ProjectConfiguration.crowdsaleContractAddress %>
                                              <% } %>
                                              <% } else {%>
                                                <%= ProjectConfiguration.crowdsaleContractAddress %>
                                              <% } %>  

                                          </td>
                                            <% if(ProjectConfiguration.networkType == "mainnet") { %>
                                              <td><a href="https://explorer.xinfin.network/tx/<%= ProjectConfiguration.crowdsaleContractHash %>"
                                                target="_blank">Click here</a></td>  
                                           <% }else if(ProjectConfiguration.networkType == "apothem") { %>
                                            <td><a href="https://explorer.apothem.network/tx/<%= ProjectConfiguration.crowdsaleContractHash %>"
                                              target="_blank">Click here</a></td>  
                                            <%} else { %>
                                            <td><a href="https://ropsten.etherscan.io/tx/<%= ProjectConfiguration.crowdsaleContractHash %>"
                                              target="_blank">Click here</a></td> 
                                              <% } %>   
                                          <% } else { %>
                                            <td colspan="2"> Not deployed yet</td>
                                              <% } %>
                                              <td><button onclick="setCurrProjectId('<%= ProjectConfiguration.coinName %>')"  class="btn btn-private btn-export-key" data-target="#exportPrivKeyModal" data-toggle="modal">Export Private Key</button></td>                                        
                              </tr>
                              <% }) %>
                          </tbody>
                        </table>
                      </div>
                      <% } else { %>
                        <h3 class="text-center">No Contracts Yet.</h3>
                        <% } %>
                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
    </div>

    </div>
    <!-- End Container fluid  -->


    </div>
    <!-- End Page wrapper  -->

    </div>
    <!-- End Wrapper -->

    <div class="modal fade" id="exportPrivKeyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title buy-tokens" id="exampleModalLabel2"><i class="ti-wallet"></i> Export Private Key</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <% if (socialClient===true) {%>
              <h5> Please confirm to export private key</h5>              
              <% } else { %>
                <h5> Please enter your password to confirm</h5>              
                <% } %>
            </div>
            <form id="form-exportPrivKey">
              <div class="input-group mb-3">
                <% if (socialClient===true) {%>
                  <input type="password" style="display: none;" class="form-control text-center" placeholder="" aria-label=""
                  id="export-key-pwd" />   
                  <% } else { %>
                    <input type="password" class="form-control text-center" placeholder="" aria-label=""
                    id="export-key-pwd" />                    
                  <% } %>

                <!-- <div class="input-group-append">
                    <button data-copytarget="#tokenAddress" class="btn btn-success" type="button">Copy</button>
                  </div> -->
              </div>

              <div class="modal-footer text-center">           
                <input value="Submit" type="submit" class="btn btn-rounded btn-info" />
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>

    <div class="modal fade" id="exportPrivateKeyResp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title buy-tokens" id="exampleModalLabel3"><i class="ti-wallet"></i> Export Private Key</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <h5> Below is your private key</h5>              
            </div>
            <form>
              <div class="input-group mb-3">
                <div type="text" style="overflow-x: auto;" class="form-control text-center"
                  id="export-key-resp" ></div>  
              </div>
            </form>
          </div>
          <div class="modal-footer text-center">           
            <button type="button" class="btn btn-rounded btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="chat-windows"></div>

    <script>

      let currProjectId = null;
    
      $("#form-exportPrivKey").on("submit",e => {
        e.preventDefault();
        getProjectKey();
        $("#exportPrivKeyModal").modal('toggle');
      })
    
    
      function setCurrProjectId(id){
        currProjectId = id;
        console.log("CurrentProjectId: ", currProjectId);
      }
    
    function getProjectKey() {
        toastr.options = {
          "positionClass":"toast-top-right"
        }
        const pwd = document.getElementById("export-key-pwd").value;
        console.log("called getPrivateeKey", pwd);
        $.post({
          method:"post",
          url:"/api/getProjectKey",
          data:{password:pwd, projectId:currProjectId},
          success: (resp) => {
            console.log("recvd. response for /api/getProjectKey");
            if (resp.status) {
              // open the private key in modal
              document.getElementById("export-key-resp").innerHTML = resp.privKey;
              $("#exportPrivateKeyResp").modal('show');
            }else {
              toastr.error(resp.error)
            }
          },
          error: err => {
            console.log("error while making post req. /api/getProjectKey");
            console.log(err);
            toastr.error("Error occured !!")
          }
        })
      }
    
    
      $('#exportPrivKeyModal').on('hidden.bs.modal', function() {
        document.getElementById("export-key-pwd").value = "";
      })
    
      $('#exportPrivateKeyResp').on('hidden.bs.modal', function () {
        document.getElementById("export-key-resp").innerHTML = "";
      });
    
    </script>
    

</body>
</html>