<body>
  <% layout('./layouts/sidebar') -%>

    <!-- Preloader -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
        <!-- Page wrapper  -->
        <div class="page-wrapper">

            <!-- Container fluid  -->
            <div class="container-fluid">
                <div class="card" style="min-height:500px;">
                    <div class="card-body">
                      <div class="row">
                        <!-- <div class="col-sm-6 text-center">
                          <div class="row"> -->
                            <!-- <div class="col-sm-12 text-center">
                              <div class="well">
                                <h3>Smart Contract Creation</h3>
                                <hr size="10">

                                <br>
                                <span> ERC20 Standard Token</span><br><br>
                                <a href="/customContract" class="btn btn-default btn-sm">Create your own Token Contract here !!</a>
                                <br>
                                <hr size="5">
                                <br>
                                <span> ERC721 Standard Token (Coming Soon)</span><br><br>
                                <a href="#" class="btn btn-default btn-sm" disabled>Create Contract</a>
                              </div>
                            </div> -->

                            <!-- <div class="col-sm-12 text-center">
                              <div class="well">
                                <h3>Smart Contract Deployment</h3>
                                <br>
                                <% ProjectConfiguration.forEach(function(ProjectConfiguration){ %>
                                  <a href="/deployer?coinName=<%= ProjectConfiguration.coinName %>" class="btn btn-default btn-sm">Deploy <%= ProjectConfiguration.coinName %>
                                  </a><br><br>
                                  <% }) %>

                              </div>
                            </div> -->
                            <!-- <div class="col-sm-12 text-center">
                              <div class="well">
                                <h3>ICO platforms</h3>
                                <br>
                                <% ProjectConfiguration.forEach(function(ProjectConfiguration){ %>
                                  <a href="/icoDashboardSetup/project/<%= ProjectConfiguration.coinName %>" class="btn btn-default btn-sm" disabled>
                                    <%= ProjectConfiguration.coinName %>
                                  </a><br><br>
                                  <% }) %>
                              </div>
                            </div> -->
                          <!-- </div>
                        </div> -->
                        <div class="col-sm-6 text-center">
                          <div class="row">
                            <div class="col-sm-12 text-center">
                              <div class="well">
                                <h3><span class="fa fa-info-circle"></span>Deployed Contract Details</h3><br>

                                <table class="table text-left">
                                  <thead>
                                    <tr>
                                      <th>Coin Name</th>
                                      <th>Contract Address</th>
                                      <th>Transaction Hash</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% ProjectConfiguration.forEach(function(ProjectConfiguration){ %>
                                      <tr>
                                        <td>
                                          <%= ProjectConfiguration.coinName %>
                                        </td>
                                        <% if(ProjectConfiguration.contractAddress) {%>
                                          <td>
                                            <%= ProjectConfiguration.contractAddress %>
                                          </td>
                                          <td><a href="https://etherscan.io/tx/<%= ProjectConfiguration.contractHash %>" target="_blank">Click here</a> </td>
                                          <% } else { %>
                                            <td colspan="2"> Not deployed yet
                                          <% } %>
                                      </tr>
                                      <% }) %>
                                  </tbody>
                                </table>

                              </div>
                            </div>
                          </div>
                          <br><br><br>
                          <% if (message.length >0) { %>
                            <div class="alert alert-danger">
                              <%= message %>
                            </div>
                            <a href="/buyPackage" class="btn btn-danger btn-sm">Buy your package here</a>
                            <% } %>
                              <br><br>
                              <% if (contractMessage.length >0) { %>
                                <div class="alert alert-success">
                                  <strong>Success!</strong> Contract Mined Succefully!
                                </div>
                                <br>
                                <% } %>
                        </div>
                      </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- End Container fluid  -->


            <!-- footer -->
            <footer class="footer text-center">Copyright © 2018 MyContract. All rights reserved.</footer>
            <!-- End footer -->

        </div>
        <!-- End Page wrapper  -->

    </div>
    <!-- End Wrapper -->



    <div class="chat-windows"></div>
</body>


</html>
