<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>AutoCoin</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
      background-image: linear-gradient(180deg, rgba(53, 53, 138, 0.623), white);
      /* Standard syntax (must be last) */
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="page-header">
      <h1 class="text-center"><span class="fa fa-user"></span> Profile Details Page</h1>
      <a href="/logout" class="btn btn-default btn-sm pull-right fa fa-power-off"> Logout</a>
      <a href="/profile" class="btn btn-default btn-sm pull-right fa fa-arrow-left"> Back</a>
      <br><br>
    </div>

    <div class="col-sm-12 text-center">
      <div class="well">
        <h3><span class="fa fa-info-circle"></span> User Details</h3><br>

        <p>
          <strong>Email</strong>:
          <%= user.email %><br><br>
          <strong>XDCE Address</strong>:
          <!-- <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=<%= address %>"> -->
          <span id="address"><%= address %></span><br><br>

          <strong>Current Balance </strong>
           <%= balance %> XDCE %><br><br>
          <strong>Packages Bought</strong>:<br>
          Package 1 : <%= user.package1 %> credits<br>
          Package 2 : <%= user.package2 %> credits<br><br>
          <a href="/buyPackage" class="btn btn-danger btn-sm">Buy your package here</a>
        </p>
      </div>
    </div>
  </div>
</body>
