<body>
  <% layout('./layouts/sidebar') -%>
  <!-- Preloader -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- Page wrapper  -->
  <div class="page-wrapper">

    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="card" style="min-height:500px;">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="well">
                <h3><span class="fa fa-info-circle"></span> User Details</h3><br>

                <p>
                  <strong>Email</strong>:
                  <%= user.email %><br><br>
                  <strong>XDCE Address</strong>:
                  <!-- <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=<%= address %>"> -->
                  <span id="address"><%= address %></span><br><br>

                  <strong>Packages Bought</strong>:<br>
          Package 1 :
                  <%= user.package1 %> credits<br>
          Package 2 :
                  <%= user.package2 %> credits<br><br>
                </p>
                <a href="/buyPackage" class="btn btn-danger btn-sm"><i class="fa fa-dollar-sign"></i> Buy Package</a>
               <!-- <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/buyPackage" aria-expanded="false"><i class="fa fa-dollar-sign"></i><span class="hide-menu">Buy Package</span></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
